    body {
    font-family: sans-serif;
    }

    .container-right {
    min-height: 1020px;
    width: auto;
    display: flex;
    flex-direction: column;
    }

    .container-left {
    background-color: #003399;
    min-height: 1020px;
    width: 390px;
    }

    .parent {
    display: flex;  
    text-indent: 20px;
    border: 2px solid black;
    height: auto;
    width: 1000px;
    }

    h1 {
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 10px;
    }

    h2 {
    margin-top: 10px;
    }

    .colors {
    margin-bottom: -10px;
    margin-top: 15px;
    color: #FFFFFF;
    font-weight: bolder;
    }

    .type {
    font-weight: normal;
    margin-bottom: 10px;
    color: #FFFFFF;
    }

    .headline {
    margin-top: 15px;
    margin-bottom: 20px;
    }

    .dline {
    color: #FFFFFF;
    line-height: 60%;
    }

    .dline1 {
    color: #FFFFFF;
    line-height: 60%;
    }

    .box {
    background-color: #000099;
    color: #FFFFFF;
    }

    .indent {
    text-indent: 20px;
    }

   .text {
    margin-left: 10px;
   }

   .type1 {
    border-bottom: solid #CCCCCC;
    border-top: solid #CCCCCC;
    color: #003399;
   }

   .type2 {
    color: black;
   }

   .parent1 {
    display:flex;
    height: 100px;
    width: auto;
   }

   .container-left1 {
    margin-top: 5px;
    height: 100px;
    width: 100px;
   }

   .container-right1 {
    height: 100px;
    width: 520px;
   }

   
   